In [1]:
import numpy as np
import xarray as xr
import matplotlib.pyplot as plt
import scipy 
import pandas as pd
import os
import matplotlib.dates as mdates

In [2]:
path='g:\\Mi unidad\\Universitat\\[SoSe24] Fundamentals of Earth System data processing\\ESDP_project'
os.chdir(path)

In [50]:
lat = 50.94
lon = 6.96

ds = xr.open_dataset('data/perturbed/enfo_pf_2024_05_13.nc')
vx = ds.interp(longitude=lon, latitude=lat)
mean_precipitation = vx.mean(dim='number')
std_precipitation = vx.std(dim='number')

In [51]:
#index of times 
Mays18_index = ((mean_precipitation['time']>=pd.to_datetime('2024-05-18T00:00:00.000000000'))&
(mean_precipitation['time']<=pd.to_datetime('2024-05-19T00:00:00.000000000')))
#extract only the data of the day
vx = vx.sel(time= Mays18_index)

In [38]:
df = vx.to_dataframe(dim_order=None)
df['forecast_day'] = vx.time.values[0]

#df.boxplot(column='tp', by='time')

                                   tp  longitude  latitude
number time
1      2024-05-18 00:00:00  59.162629       6.96     50.94
       2024-05-18 06:00:00  61.833861       6.96     50.94
       2024-05-18 12:00:00  63.641638       6.96     50.94
       2024-05-18 18:00:00  64.184692       6.96     50.94
       2024-05-19 00:00:00  64.243905       6.96     50.94
...                               ...        ...       ...
100    2024-05-18 00:00:00  36.085780       6.96     50.94
       2024-05-18 06:00:00  39.389975       6.96     50.94
       2024-05-18 12:00:00  41.901101       6.96     50.94
       2024-05-18 18:00:00  48.175999       6.96     50.94
       2024-05-19 00:00:00  48.707955       6.96     50.94

[500 rows x 3 columns]

In [53]:
#plt.boxplot(df['tp'],labels = df['time'])
df. reset_index()

     number                time         tp  longitude  latitude forecast_day
0         1 2024-05-18 00:00:00  59.162629       6.96     50.94   2024-05-18
1         1 2024-05-18 06:00:00  61.833861       6.96     50.94   2024-05-18
2         1 2024-05-18 12:00:00  63.641638       6.96     50.94   2024-05-18
3         1 2024-05-18 18:00:00  64.184692       6.96     50.94   2024-05-18
4         1 2024-05-19 00:00:00  64.243905       6.96     50.94   2024-05-18
..      ...                 ...        ...        ...       ...          ...
495     100 2024-05-18 00:00:00  36.085780       6.96     50.94   2024-05-18
496     100 2024-05-18 06:00:00  39.389975       6.96     50.94   2024-05-18
497     100 2024-05-18 12:00:00  41.901101       6.96     50.94   2024-05-18
498     100 2024-05-18 18:00:00  48.175999       6.96     50.94   2024-05-18
499     100 2024-05-19 00:00:00  48.707955       6.96     50.94   2024-05-18

[500 rows x 6 columns]